*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
   background-image: url(/images/Model-3-Main-Hero-Desktop-LHD.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
h1{

}
.logo  a img{
    box-sizing: border-box;
    height: auto;
    width: 100px;
    color:white;
}
.container{
    display: flex;
    justify-content: space-between;
}
nav{
    width: 100%;
    top:0;
    left: 0;
    /* position: fixed; */
    position: relative;
    display: flex;
    align-items: center;
}
nav ul{
    flex: auto;
    text-align: center;
}
nav ul li{
    display: inline-block;
    margin: 4px 8px;

}
nav ul li a{
    color: white;
}
.showcase{
    /* height: 200px;
    width: auto; */
    color: white;
    align-items: center;
    position: relative;
    text-align: center;
    top: 150px;
}
.showcase h2{
    align-items: center;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    padding-left: 24px;
    padding-right: 24px;
    text-size-adjust: 100%;
}
.showcase a{
    color: white;
    align-items: center;
    font-weight: 400;
    line-height: 20px;
    display: block;
    padding-top: 6px;
    padding-left: 24;
    padding-right: 24px;
}
.btn{
    border: 1px solid white;
    padding: 2px 18px;
    margin-right: 30px;

}
.info{
    width: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    color: white;
    position: absolute;
    bottom: 40px;
    text-align: center;
    margin-left: 250px;

}
.info div{
    margin: 0 40px;
}
.info h2{
    font-size: 30px;
    font-weight: 400;
}
.btn-chat {
    background: white;
    position: fixed;
    right: 30px;
    bottom: 90px;
    padding: 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .btn-arrow {
    background: none;
    position: absolute;
    left: 900px;
    top: 890px;
    padding: 15px;
    cursor: pointer;
    border: 0;
  }
  
  .btn-arrow i {
    color: white;
  
    font-size: 20px;
    animation: move 1s infinite;
  }